#botaoNovaLista{
    width: 40px;
    height: 40px;
    position: fixed;
    padding: 0.8em;
    padding-top: 0.5em;
    bottom: 1em;
    right: 1em;
    background-color: blue;
    color: white;
    border-radius: 50px;
}

#lista{
    padding-top: 1em;
    padding-left: 2em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid grey;
}

.col-12{
    padding-top: 1em;
}